.block {
display: block;
width: 200px;
background-color: rgb(173, 230, 176);
padding: 10px;
margin: 10px 0;
}

.inline{
    display: inline;
    background-color: aqua;
    padding: 50px;

}
.Flex-container{
    display: Flex;
    justify-content: space-between;
    background-color: skyblue;
    padding: 20px;    
}
.Flex-item{
    display: Flex;
    background-color: lightgreen;
    padding: 10px;
    margin: 10px;    
}