body {
    background-color: lightcyan;
  /* background-image: url("https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/masters/forest.jpg");
*/
}
h1 {
  font-size: 50px;
  text-align: center;
  border: 2px solid black;
  border-radius: 30px;
}

h2 {
  font-size: 20px;
  text-align: center;
}
.grilla {
  display: grid;
  /*grid-template-columns: 200px 200px 200px;*/
  /*grid-template-columns: repeat(3, 200px);*/
  grid-template-columns: repeat(
    3,
    1fr
  ); /* fr es una fraccion y divide la pagina en la cantidad 
  que diga el primer valor de la funcion*/
  /*grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));*/
  grid-template-rows: auto;
  gap: 20px;
}

img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 30px;
}

.fondoPika {
  background-color: aqua;
  border: 2px solid black;
  border-radius: 30px;
  transition: transform 0.35s (0.075, 0.82, 0.165, 1);7
}
.fondoPika:hover{
    transform: translateY(-10px);
      box-shadow: 0.3s ease-out;

}

.fondoSquirtle {
  background-color: burlywood;
  border: 2px solid black;
  border-radius: 30px;
  transition: transform 0.35s (0.075, 0.82, 0.165, 1);7
}
.fondoSquirtle:hover{
    transform: translateY(-10px);
        box-shadow: 0.3s ease-out;
}
.fondoChar {
  background-color: crimson;
  border: 2px solid black;
  border-radius: 30px;
  transition: transform 0.35s (0.075, 0.82, 0.165, 1);7

}
.fondoChar:hover{
    transform: translateY(-10px);
        box-shadow: 0.3s ease-out;

}

@media (max-width 1024px) {
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width 768px) {
  grid-template-columns: 1fr;
}
