/* Ejercicio 1*/
.bloque {
    display: block; 
    background-color: yellow; 
    margin-bottom: 10px; 
    width: 200px; 
}

/* Ejercicio 2*/
.en-linea {
    display: inline; 
    background-color: lightblue; 
    margin-right: 5px; 
}

/* Eejercicio 3*/
/*No se puede centrar pipipi ya que no es flex*/



li {
    display: inline-block; 
    width: 150px; 
    text-align: center; 
    background-color: lightcoral;
    margin: 10px; 
    padding: 10px;
}

/* ejerxicio 4*/
.flex-container {
    display: flex;
    background-color: lightgreen; 
    padding: 10px;
}

.flex-item {
    background-color: lightseagreen; 
    padding: 20px;
    width: 100px; 
}
.space-between {
    justify-content: space-between; 
}
.space-around {
    justify-content: space-around; 
}
.space-evenly {
    justify-content: space-evenly; 
}
.center {
    justify-content: center; 
}
